* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.wav binary
*.aif binary
*.aiff binary
*.flac binary
*.mp3 binary
*.opus binary
*.pdf binary
